.filters {
      flex: 1;
      margin:.5rem ;
      max-width: 18rem;
    }
    .filters .section {
      background: white;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .filters select, .filters button {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .filters .button-group {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    .filters .button-group button {
      flex: 1;
      border: none;
      background: #ddd;
      padding: 5px;
      border-radius: 5px;
    }