    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 3rem;
      border-radius: 10px;
      height: 98vh;
      background: #3b0a75;  
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      gap: 20px;
      margin-top: .5rem;
      margin-left:.5rem;

    }
    .sidebar i, .sidebar img {
      color: white;
      font-size: 24px;
      cursor: pointer;
    }

    .check {
        display: flex;
        gap: .5rem;
    }

    .status {
        margin-top: .5rem;
        display: flex;
        gap: .5rem;
        padding: .5rem;
        background: #3b0a75;
        color: white;
        border-radius: 10px;
        width: 18rem;
    }

    .topbar {
        flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #3b0a75;
      color: white;
      margin-top: .5rem;
      margin-left: 4rem;
      left: calc(100% - .5rem);
      padding: .5rem;
      border-radius: 10px;
      height: 2.5rem;
      max-width: 70rem;
    }
    .topbar input {
      width: 300px;
      padding: 5px 10px;
      border-radius: 10px;
      border: none;
    }
    
    
    

