.ticket-container {
  margin: .5rem 0 0 4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
  border-radius: 10px;
  padding: .3rem .3rem .3rem .8rem;
  max-width: 73rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 79vh;
  width: 100%;
}
.ticket-container::-webkit-scrollbar {
  display: none;
  }

.ticket-container .ticket-header {
  display: flex !important;
  font-weight: bold;
  background-color: #3b0a75;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 .1rem rgba(0,0,0,0.4);
  margin-bottom: .2rem;
}

.ticket-container .ticket-table {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.ticket-row2 .info {
  display: flex;
}

.ticket-container .ticket-row2 {
  position: relative;
  margin-bottom: .1rem;
  padding: .4rem;
  background: #f7f7f7;
  border: none;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, .4);
  border-radius: 10px;
}

.menu-btn-cmt2 {
  background: transparent;
  border: none;
  font-size: 23px;
  font-weight: bolder;
}

.ticket-row2 .submit-comment {
  padding: .4rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #3b0a75;
    font-weight: bold;
    margin: .2rem .1rem;
}

.stat-box.active {
  background-color: #9e9d9d; /* ✅ Customize the highlight color */
  color: white;
  border: 1px solid #575757;
}


.ticket-row2 .comment-box2 {
  display: flex;
  gap: 10px;
}

.ticket-row2 .assign-box2 {
  display: flex;
  gap: 10px;
}

.ticket-container .comment-box2 input{
  margin: .2rem .1rem;
  width: 100%;
  border-radius: 10px;
  padding: 0 .4rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  border: none;
}

.ticket-container .menu-wrapper2 {
  position: relative;
  display: inline-block;
}
.ticket-container .dropdown-section2 {
  position: fixed;
  right: 19.1rem;
  background: white;
  gap: .5rem;
  border: none;
  padding: 10px;
  z-index: 10;
  width: 4rem;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  top: 16.2rem;
  border-radius: 12px;
}

.ticket-container .dropdown-section2 button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: black;
}

.ticket-container .hidden { display: none !important; }

.comment-btn2 {
  background: transparent;
    border: none;
    font-size: 23px;
    font-weight: bolder;
}
.assign-btn2 {
  background: transparent;
    border: none;
    font-size: 23px;
    font-weight: bolder;
}