      <div class="filters">
        <div class="section filter" id="user-filter">
          <h4>Agent Filter</h4>
          <select><option>Agent Name Dropdown</option></select>
          <select><option>Shift Based Drop Down</option></select>
          <select><option>Manager Based Drop Down</option></select>
          <div class="button-group">
            <button>E1</button><button>E2</button><button>E3</button><button>E4</button>
            <button>M</button><button>TC</button>
          </div>
          <div class="clear-filter"><p>Clear Filter</p></div>
        </div>
        <div class="section filter" id="ticket-filter" style="display: none;">
          <h4>Ticket Filter</h4>
          <select><option>Agent Name Dropdown</option></select>
          <select><option>Shift Based Drop Down</option></select>
          <select><option>Manager Based Drop Down</option></select>
          <div class="button-group">
            <button>E1</button><button>E2</button><button>E3</button><button>E4</button>
            <button>M</button><button>TC</button>
          </div>
          <div class="clear-filter"><p>Clear Filter</p></div>
        </div>

        <div class="section notice">
          <h4>Notice</h4>
          <br><br>
          <div class="view-more"><p>-- view More</p></div>
        </div>
      </div>