<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/navbar.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/user-container.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/stats.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/ticket-open.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/filters.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/deligation.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/home.css">
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/profile.css">



    <script src="../../static/Freewheel_Portal/js/deligation.js" defer></script>
    <script src="../../static/Freewheel_Portal/js/navbar.js" defer></script>
    <script src="../../static/Freewheel_Portal/js/user-container.js" defer></script>
    <script src="../../static/Freewheel_Portal/js/ticket-open.js" defer></script>
</head>
<body>
    {%include 'Freewheel_Portal/navbar.html' %}
    {%include 'Freewheel_Portal/deligation.html' %}

  <div id="click" style="display: none;">
    <div class="whole-page" id="wholePage">
      <div class="stats">
        <div class="stat-box" id="open-ticket-btn">Open Ticket<br><b>{{open_tickets.count }}</b></div>
        <div class="stat-box" id="pending-ticket-btn">Pending Tickets<br><b>{{pending_tickets.count}}</b></div>
        <div class="stat-box" id="onhold-ticket-btn">On-hold Tickets<br><b>{{hold_tickets.count}}</b></div>
        <div class="stat-box" id="new-ticket-btn">New Tickets<br><b>{{new_tickets.count}}</b></div>
      </div>

      <div class="check1">
        {%include 'Freewheel_Portal/user-container.html' %}

        {%include 'Freewheel_Portal/ticket-open.html'%}

        {%include 'Freewheel_Portal/filter.html' %}
      </div>
    </div>
  </div>

  {%include 'Freewheel_Portal/profile.html' %}
</body>
</html>