<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Portal</title>
    <link rel="stylesheet" href="../../static/Freewheel_Portal/css/navbar.css">
    <script src="../../static/Freewheel_Portal/js/navbar.js"></script>
</head>
<body>
    <nav>
        <div class="side_navbar">
            <div class="logo">MySite</div>
            <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
            </div>
            <div class="nav-links" id="navLinks">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            </div>
        </div>
    </nav>    
</body>
</html>