<div class="prof">
  <div class="profile" id="profile">
    <div class="user-profile">
      <img src="{{ current_user.profile_image.url }}" alt="Profile" class="profile-img" id="profile-img">
        <div class="content">
            <div class="name">
                <h2>{{ current_user.assignee_name }}</h2>
            </div>
            <div class="role">
                <p>Intern - Cooperative Educational Program</p>
            </div>
            <div class="office">
                <p>COMCAST India Engineering Cent, Tower 2 spl module B, Chennai, TN</p>
            </div>
            <div class="mail">
                <p>{{current_user.email}}</p>
            </div>
        </div>
    </div>

    <div class="card-grid">

      <a href="">
      <div class="card">
        <h3>Create New Employee</h3>
        <p>Keep your verification methods and security info up to date.</p>
      </div>
      </a>

      <a href="">
      <div class="card">
        <h3>Password</h3>
        <p>Make your password stronger, or change it if someone else knows it.</p>
      </div>
      </a>

      <a href="">
      <div class="card">
        <h3>Settings & Privacy</h3>
        <p>Personalize your account settings and see how your data is used.</p>
      </div>
      </a>

      <a href="">
      <div class="card">
        <h3>Devices</h3>
        <p>Disable a lost device and review your connected devices.</p>
      </div>
      </a>

      <a href="">
      <div class="card">
        <h3>Organizations</h3>
        <p>See all the organizations that you're a part of.</p>
      </div>
      </a>

      <a href="">
      <div class="card">
        <h3>My sign-ins</h3>
        <p>See when and where you've signed in and check if anything looks unusual.</p>
      </div>
      </a>
    </div>
  </div>
</div>
