<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
</head>
<body>
    <h2>Upload Ticket Excel File</h2>
    <a href="{% url 'ticket_list' %}">View Tickets</a>
 
    {% if success %}
        <p style="color: green;">File uploaded successfully!</p>
    {% endif %}
 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept=".xlsx,.xls" required>
        <button type="submit">Upload Excel</button>
    </form>
   
</body>
</html>