
    <div class="user-container" id="user-container" style="display: block;">
      <div class="user"> <!-- add user -->
        <!-- Repeat this ticket-card div for each user -->
         {% for user in users %}
        <div class="user-card"
            data-agent="{{ user.assignee_name }}"
            data-shift="{{ user.shift }}"
            data-manager="{{ user.repor_manager }}"
            data-role="{{ user.level }}">
            <div class="top-section">
                <div class="user-info">
                    <div class="user-img">
                        <img src="../../static/Freewheel_Portal/images/png-clipart-thinking-man-question-mark-bow-down.png" alt="User">
                    </div>
                    <div>
                        <div style="font-size: 14px; font-weight: bold;">{{ user.assignee_name }}</div>
                        <div style="font-size: 12px;">
                            {% if user.status == 'Available' %}
                            <i class="fa-solid fa-circle-check" style="color: #4CAF50;"></i>
                            {% elif user.status == 'Away' %}
                            <i class="fa-solid fa-clock" style="color: #FFC107;"></i>
                            {% elif user.status == 'In-Meeting' %}
                            <i class="fa-solid fa-clock" style="color: #F44336;"></i>
                            {% elif user.status == 'Offline' %}
                            <i class="fa-solid fa-circle-xmark" style="color: #7f7f7f;"></i>
                            {% endif %}
                            
                            
                            {{ user.status }}</div>
                    </div>
                </div>

                <div class="user-stats">
                    <div>{{user.shift}}</div>
                    <div>{{ user.repor_manager }}</div>
                </div>

                <div class="user-actions">
                    <button class="ticketsList">Tickets</button>
                    <img src="../../static/Freewheel_Portal/images/5e8cdf0a664eae000408545b.png" alt="teams">
                    <img src="https://img.icons8.com/color/48/slack-new.png" alt="slack">
                </div>
            </div>
            <div class="ticket" >
            <div class="ticket-tabs">
                <button class="tab active">Open Tickets</button>
                <button class="tab">Pending Tickets</button>
                <button class="tab">On-Hold Ticket</button>
                <button class="tab">Solved Ticket</button>
            </div>

            <div class="ticket-table">
                <div class="ticket-row">
                    <div>212474</div>
                    <div>MRM | MPP -Sold Order</div>
                    <div>Normal</div>
                    <div>11Hrs</div>
                    <div>Abcdefg Hijklmn</div>
                    <div><button class="comment-btn">Comment</button></div>
                </div>
                <div class="ticket-row">
                    <div>212474</div>
                    <div>MRM | MPP -Sold Order</div>
                    <div>Normal</div>
                    <div>11Hrs</div>
                    <div>Abcdefg Hijklmn</div>
                    <div><button class="comment-btn">Comment</button></div>
                </div>
                    <div class="ticket-row">
                    <div>212474</div>
                    <div>MRM | MPP -Sold Order</div>
                    <div>Normal</div>
                    <div>11Hrs</div>
                    <div>Abcdefg Hijklmn</div>
                    <div><button class="comment-btn">Comment</button></div>
                </div>
            </div>
            </div>
        </div>

        {% endfor %}
        <!-- Duplicate above for each entry -->
      </div>
    </div>